@import "style/variables";
input,
select {
  padding: 0.5rem;
  color: $text-color;
  font-size: 1rem;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 4px;

  &.flat {
    border-width: 0;
  }

  &:focus {
    border-color: $primary-color;
    outline: none;
  }

  &:disabled {
    color: $text-color;
    background-color: $disabled-color;
    cursor: not-allowed;
  }
}

select {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23343a40" d="M2 0L0 2h4zM2 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.65em auto;
  appearance: none;
}
